/* You can add global styles to this file, and also import other style files */
button{
    //border-color:coral;
    border-radius: 10px;
}

input{
    border-radius: 20px;
    border-color: aquamarine;
}

body{
    background-color: beige;
}